<!DOCTYPE html>
<head>
	<link rel="stylesheet" type="text/css" href="../static/hobbies.css">
	<title>Amna's page</title>
</head>


<body>
 <h1 id="wow"> Welcome to my page! </h1>
 <img src = "https://fyf.tac-cdn.net/images/products/large/BF52-11KM.jpg?auto=webp&quality=60"> 
 <h2> Some facts about me! </h2>
 <ol>
 	<li> I love cats so much </li>
 	<li> I'm a YES alumna </li>
 	<li> I'm a Code for PA student</li>
 <a href = "https://download-stories-pdf-ebooks.com/29308-free-book"> <p> This is my favorite link </p> </a>

<button onclick='fool();'>Hello</script>
<script>
function fool(){
 alert('Hey');
}
</script>
 
 </ol>
</body>
</html>